<h1>Login</h1>

<ul ng-repeat= 'user in users'>
	<li> {{user.email}}--{{user.first_name}}--{{user.last_name}}--{{user.password}}--{{user.password_confirmation}}</li>
</ul>



<form action="">
	<div class = 'form-group'>
		Email: <input type="email">
	</div>
		<div class = 'form-group'>
		First Name: <input type="text">
	</div>
		<div class = 'form-group'>
		Last Name: <input type="text">
	</div>
	<div class = 'form-group'>
		Password: <input type="password">
	</div>	<div class = 'form-group'>
		Confirm Password: <input type="passwor_confirm">
	</div>	
	<input type="submit">




</form>